* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway',sans-serif;
}


/********************************

    MAIN CSS

*********************************/

#main {
    margin-top: 80px;
    margin-bottom: 80px;
}



    #main .container {
        width: 90%;
        margin: 0 auto;
    }

    #main #introduction {
        margin: 24px 2px;
        color: #333;
    }


#introduction h2 {
    margin-bottom: 16px;
}

#introduction p {
    font-size: 16px;
}

.main-content {
    margin-bottom: 60px;
    overflow: hidden;
}

    .main-content h2 {
        font-size: 22px;
        color: #112d7a;
    }


#after-main {
    height: 200px;
    padding: 12px;
    margin-top: 20px;
}



@media only screen and (min-width: 158px) and (max-width: 600px) {


    .wr {
        min-height: 600px;
    }

}

