* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway',sans-serif;
}


/* GRID */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}



/********************************

    MAIN CSS

*********************************/

#main {
    margin-top: 80px;
    margin-bottom: 80px;
}



    #main .container {
        width: 90%;
        margin: 0 auto;
    }

    #main #introduction {
        margin: 24px 2px;
        color: #333;
    }


#introduction h2 {
    margin-bottom: 16px;
}

#introduction p {
    font-size: 16px;
}

.main-content {
    margin-bottom: 60px;
    overflow: hidden;
}

    .main-content h2 {
        font-size: 22px;
        color: #112d7a;
    }

.column {
    float: left;
    padding: 5px;
    text-align: center;
}

.box {
    padding: 20px;
    height: 320px;
    margin: 12px 12px;
    transition: all 0.3s;
    position: relative;
}


    .box img {
        margin: 12px 0px;
        height: 100px;
        width: 100px;
    }

    .box p {
        font-size: 14px;
        margin-top: 8px;
    }


    .box a {
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        background-color: #222;
        color: #fff;
        padding: 12px 18px;
        position: absolute;
        bottom: 0px;
        left: 0;
    }

    .box:hover {
        box-shadow: 4px 4px 8px #888888;
        transform: scale(1.02);
    }

        .box:hover a {
            background-color: #F7DF1E;
            outline: 1px #222;
            color: #222;
        }


#after-main {
    height: 200px;
    padding: 12px;
    margin-top: 20px;
}

.profiles {
    color: #333;
}

    .profiles h4 {
        color: rgb(17, 63, 131);
    }

.course_overview {
    border: 1px solid rgb(114, 110, 110);
    padding: 12px 16px;
}

.course_overview_img {
    text-align: center;
}

    .course_overview_img img {
        height: 150px;
    }

.course_overview h3 {
    color: rgb(17, 63, 131);
}

.course_overview > * {
    margin-top: 20px;
}

.course_overview_tbl {
    width: 450px;
    border-radius: 3px;
    padding: 12px 16px;
    font-size: 13px;
}

    .course_overview_tbl tr td {
        padding: 6px 8px;
    }

        .course_overview_tbl tr td:first-child {
            font-weight: bold;
        }

.course_topics {
    margin-top: 30px;
    border: 1px solid rgb(114, 110, 110);
    border-radius: 3px;
    padding: 12px 16px;
}

    .course_topics h3 {
        color: rgb(17, 63, 131);
    }

    .course_topics ul {
        list-style-type: none;
    }

        .course_topics ul li {
            padding-left: 20px;
            font-size: 14px;
            line-height: 28px;
        }

.fieldset .lgnbtn {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    float: left;
    width: 100%;
}


